.App {
  text-align: center;
  font-size: 20px;
  margin: 10px;
}

.counterBtn {
  align-self: center;
  width: 90px;
  height: 40px;
  font-size: 30px;
  margin: 10px;
}

.content-item {
  text-align: left;
  font-size: 18px;
  margin: 5px;
}
